<div
    class="bg-dark text-white vh-100 p-3 position-fixed"
    style="width: 250px;"
>

    <h2 class="fw-bold mb-4">
        Pharma ERP
    </h2>

    <ul class="nav flex-column">

        <li class="nav-item mb-2">
            <a
                href="./dashboard.html"
                class="nav-link text-white sidebar-link"
                data-page="dashboard"
            >
                Dashboard
            </a>
        </li>

        <!-- <li class="nav-item mb-2 admin-only">
            <a
                href="./users.html"
                class="nav-link text-white sidebar-link"
                data-page="users"
            >
                Users
            </a>
        </li> -->

        <li class="nav-item mb-2">
            <a
                href="./medicines.html"
                class="nav-link text-white sidebar-link"
                data-page="medicines"
            >
                Medicines
            </a>
        </li>

        <li class="nav-item mb-2">
            <a
                href="./batches.html"
                class="nav-link text-white sidebar-link"
                data-page="batches"
            >
                Batches
            </a>
        </li>

        <li class="nav-item mb-2">
            <a
                href="./warehouses.html"
                class="nav-link text-white sidebar-link"
                data-page="warehouses"
            >
                Warehouses
            </a>
        </li>

        <li class="nav-item mb-2">
            <a
                href="./stock-allocation.html"
                class="nav-link text-white sidebar-link"
                data-page="allocation"
            >
                Stock Allocation
            </a>
        </li>

        <li class="nav-item mb-2">
            <a
                href="./stock-transfer.html"
                class="nav-link text-white sidebar-link"
                data-page="transfer"
            >
                Stock Transfer
            </a>
        </li>

        <li class="nav-item mb-2">
            <a
                href="./recalls.html"
                class="nav-link text-white sidebar-link"
                data-page="recalls"
            >
                Recalls
            </a>
        </li>

        <li class="nav-item mb-2">
            <a
                href="./audit-logs.html"
                class="nav-link text-white sidebar-link"
                data-page="audit"
            >
                Audit Logs
            </a>
        </li>

    </ul>

    <div class="mt-5">

        <button
            id="logoutBtn"
            class="btn btn-danger w-100"
        >
            Logout
        </button>

    </div>

</div>